h1{
    color:#3f00ff;
    background: #96969682;
    text-align: center;
    font-size: 300%;
}
body{
    background:#56ff0038;    
}
nav{
    text-align: center;
    font-size: 150%;
}
h2{
    color: #ce0000;
    background: #b9b8a9c7;
    font-size: 200%;
}
summary{
    background: #b9b8a9c7;
    font-size: 150%;
}
p{
    font-style: italic;
    font-size: 120%;
}
figure{
    font-style: italic;
    font-size: 120%;
}
ul{
    font-style: italic;
    font-size: 120%;
}
