h1{
    color:#3f00ff;
    text-align: center;
    font-size: 300%;
    padding: 2%;
    text-transform: uppercase;
}
header,footer{
    background: #96969682;
    background: -moz-linear-gradient(top,#96969682 20%,#20ffda 100%);
    background: -o-linear-gradient(#96969682 20%,#20ffda 100%);
    background: -webkit-linear-gradient(#96969682 20%,#20ffda 100%);
    background: linear-gradient(#96969682 20%,#20ffda 100%);
    padding: 2%;
}
body{
    background:#56ff0038;
    margin: 2%;    
}
nav{
    text-align: center;
    font-size: 200%;
}
nav a{
    text-decoration: none;
    display: inline-block;
    width:24%;
    background-color: #ffffff;
}
section.half{
    width:45%;
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 2.5%;
    float: left;
}
section.whole{
    margin-bottom: 2%;
    clear: both;
}
h2{
    color: #ce0000;
    background: #a3a3a3c7;
    font-size: 200%;
}
summary{
    background: #b9b8a9c7;
    font-size: 150%;
}
p{
    font-style: italic;
    font-size: 120%;
}
figure{
    font-style: italic;
    font-size: 120%;
}
ul{
    font-style: italic;
    font-size: 120%;
}
img{
    width:10%;
}
footer{
    clear: both;
}
